<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\penv\mps" />
        <add key="DJANGO_SETTINGS_MODULE" value="mps.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="mps handling" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\penv\Scripts\python.exe|C:\penv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
