 
  .custom-input{
    width: 150px !important;
    background: transparent !important;
    border: none !important;
  }

  .custom-save-shopfloor{

    float: right;
    width: 120px !important;
    margin-bottom: 20px;
  }

  .calendar-text {
    /* text-indent: 60px; */
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .inline-radio-input {
    display: flex; 
    flex-direction: row;
    
}

.center_img_not_found {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}

.switch_week_month {
  border: 1px solid rgba(0,0,0,.125);
  position: fixed;
  z-index: 9999;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: #E91E63;
  color: #FFFFFF;
  font-size: 19px;
}


.data_btn{
color: #fff !important;
background-color: #61a5c2 !important;
border-radius: 10em;
padding: .5rem 1.6rem;
font-size: .64rem;
/* cursor: pointer; */
text-align: center!important;
font-size:.75rem;

}

.card_info{
  border: 1px solid rgba(0,0,0,.125); 
  border-radius: 15px;
}
  



