 
  .custom-input{

    width: 150px !important;
  
  }

  .custom-save-shopfloor{

    float: right;
    width: 120px !important;
  }

  .calendar-text {
    /* text-indent: 60px; */
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  
  



