{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %} 

<!--message alert -->
{% if messages %}
{% for message in messages %}
    {%include 'app/alerts/alert.html'%}
{% endfor %}
{% endif %}

<div class="col-12"> 
    <div class="callout callout-info">
    <h5> Divisions</h5><br>
    <form method="POST" action ="{% url 'home' %}">  
        {% csrf_token %}
        {%for d in divisions %}
        {%if d.id == division %}
        <!-- <button class="btn  btn-primary" style="border-radius: 10px 10px 10px 10px;margin-left: 7px;" >{{d.name}}<a href =""></a></button> -->
        <input  type="button" class="btn  btn-primary" style="border-radius: 10px 10px 10px 10px;margin-left: 7px;text-decoration:none;" value="{{d.name}}" name="division">
        {%else%}
        <input  type="submit" class="btn  btn-outline-primary" style="border-radius: 10px 10px 10px 10px;margin-left: 7px;text-decoration:none;" value="{{d.name}}" name="division">
        {%endif%}
        {%endfor%}
   </form>
    </div>
</div>

        <div class="col-12">
                <div class="card custom-card">
                      <div class="card-header custom-card-header ui-sortable-handle" >
                            <h5 class="card-title custom-card-title">List of Products</h5>
                      </div>               
                    <div class="card-body table-responsive p-0" style="height: 500px;">
                        <div class="card-body">
                            <table id="product" class="table table-striped table-hover table-bordered  text-nowrap">
                                <thead >
                                    <tr>
                                        <th>ID</th>
                                        <th>Program</th>
                                        <th>Has Treatment</th>
                                        <th>Product</th>         
                                        <th>Designation</th>
                                        <th>Profit center</th>
                                        <th>Material</th>
                                        <th>Calendar</th>
                                        <th>Calendar Config Treatment</th>
                                        <th>Calendar Config CpOrdo</th>
                                        <th>Planning</th>
                                        <th>State</th>
                                        <th >Actions</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                        {% for d in products %}
                                            <tr>
                                                <td>{{ d.id}}</td> 
                                                <td>{{ d.program}}</td>
                                                <td>{{ d.has_treatement}}</td>   
                                                <td>{{ d.product}}</td>
                                                <td>{{ d.planning}}</td>
                                                <td>{{d.Profit_center}}</td>
                                                <td><center><a class="btn data_btn" href="{% url 'material' division d.id  %}" >Material</a></center></td> 
                                                <td><center><a class="btn data_btn" href="{% url 'calendar' division d.id %}" >Calendar</a></center></td> 

                                                <!-- <td><a href="{% url 'material' division d.id  %}" style="text-decoration: none;">Material</a></td> -->
                                                <!-- <td><a href="{% url 'calendar' division d.id %}" style="text-decoration: none; ">Calendar</a></td> -->
                                                {%if d.has_treatement %}
                                                <td><center><a class="btn data_btn" href="{% url 'configTrait' division d.id %}" >Calendar Config Treatment</a></center></td> 
                                                <td><center><a class="btn data_btn" href="{% url 'configCpordo' division d.id %}" >Calendar Config CpOrdo</a></center></td> 
                                                
                                                <!-- <td><a href="{% url 'configTrait' division d.id %}"style="text-decoration: none; ">Calendar Config Treatment</a></td> -->
                                                <!-- <td><a href="{% url 'configCpordo' division d.id %}"style="text-decoration: none; ">Calendar Config CpOrdo</a></td> -->

                                                {%else%}
                                                    <td>N/A</td>
                                                    <td>N/A</td>
                                                {%endif%}
                                                <td><center><a class="btn data_btn" href="{% url 'allplanning' division d.id %}">Planning</a></center></td> 
                                                 
                                                {% if d.is_deleted%} 
                                                <td style="color: red;">Deleted</td> 
                                                {%else%} 
                                                <td >Active</td> 
                                                {%endif%}
                                                <td>
                                                    {% if d.is_deleted%}
                                                        <button class="btn" data-toggle="modal" data-target="#restore" data-id="{{d.id}}" data-product="{{d.product}}"><i class="fa-solid fa-arrow-rotate-left" style="color: #0d6efd;"></i></button>
                                                    {%else%}
                                                        <button class="btn" data-toggle="modal" data-target="#update" data-id="{{d.id}}" data-traitement="{{d.has_treatement}}" data-product="{{d.product}}" data-profitcenter="{{d.Profit_center}}" data-program="{{d.program}}" data-planning="{{d.planning}}"  ><i class="fa-solid fa-pen" style="color: rgb(35, 35, 80);"></i></button>
                                                        <button class="btn" data-toggle="modal" data-target="#delete" data-id="{{d.id}}" data-product="{{d.product}}"><i class="fa-solid fa-trash" style="color: #dc3545;"></i></button>
                                                    {%endif%}
                                                </td>
                                            </tr>
                                            {%empty%}
                                            <tr><td colspan="12"><img src="{% static 'img/notFound.png' %}" alt="notFound" class="center_img_not_found"></td></tr> 
                                        {% endfor %}
                                </tbody>               
                            </table>
                        </div>
                    </div>
            </div>
        </div>
       
<!--DataTables-->
<script type="text/javascript" language="javascript">
    jQuery(document).ready(function () {
          $("#product").dataTable(
          {"lengthChange":false,
           "lengthMenu": [[7, 20, 30, -1], [8, 20, 30, "All"]],
           "responsive": false,
           scrollX :'500px',
        }
          );
          
    });
</script>

{% endblock %}