<div class="card-body">
    {%if records.iterrows%}
    <div style="height: 400px" >
            <canvas id="logistic_week" ></canvas>
            <script>
                var xValues = [{% for index, data in logistic_stock_week.iterrows %}  '{{data.date_production_year_week}}', {% endfor %}];
                var data = [{% for index, data in logistic_stock_week.iterrows %} {{data.logistic_stock_week_count}}, {% endfor %}];
                const colours = data.map((value) => value < 0 ? '#e84747' : '#1a936f'); 
                const logistic_week=new Chart("logistic_week", {
                    // plugins: [ChartDataLabels],
                    type: "bar",
                    data: {
                            labels: xValues,
                            datasets: [
                                {
                                label: 'QTE Logistic Stock',
                                // backgroundColor:  ['#c9184a','#ff758f','#ffb3c1','#FF9671','#FFC75F','#ffd60a','#34a0a4','#99d98c','#0b525b','#065a60','#006466','#38b000'],
                                // borderColor:  ['#c9184a','#ff758f','#ffb3c1','#FF9671','#FFC75F','#ffd60a','#34a0a4','#99d98c','#0b525b',,'#065a60',"#006466",'#38b000'],

                                backgroundColor: colours,
                                borderColor: colours, 
                                borderWidth: 1,
                                data: data
                                }
                            ]
                            },
                    options: {
                        plugins: {
                                datalabels: {
                                    // anchor: 'end',
                                    clamp: true,
                                    color: 'black',
                                    
                                },
                                legend: {
                                display: true,
                                position:'top',
                                align:'middle',
                                labels: {
                                usePointStyle: true,
                                boxWidth: 6,
                                },
                                },

                                title: {
                                    display: false,
                                    text: "this is title"
                                },
                                
                            },
                            scales: {
                    yAxes: [
                        {
                            id: 'y-axis-1',
                            type: 'linear',
                            display: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                },

                            responsive: true,
                            maintainAspectRatio:false, 
                    }
                });
            </script>
    </div>
    {%else%}
     No data with selected filter 
    {%endif%}
</div>   