<div class="card-body">
    {%if df_cycle.iterrows%}
    <div style="height: 400px" >
        <canvas id="month_cycle_count"></canvas>
        <script>
            var xValues = [{% for months in month_cycle_count_axis_x %} '{{months}}', {% endfor %}];
            var data = [{% for index, data in cycle_count_month.iterrows %} {{data.0|floatformat:2}}, {% endfor %}];


            
            const month_cycle_count=new Chart("month_cycle_count", {
                type: "line",
                data: {
                        labels: xValues,
                        datasets: [
                            // loop dict 
                            {% for smooth,color in smooth_family_month.items %} 
                                {
                                label: 'Smooth family : {{smooth}}',
                                backgroundColor:  '{{color}}',
                                borderColor:   '{{color}}',
                                borderWidth: 1,
                                data: 
                                    [{% for index, data in cycle_count_month.iterrows %} 
                                        {% if smooth == data.smooth_family %}
                                            {{data.0}}.toFixed(2), 
                                        {% endif %}
                                    
                                    {% endfor %}]
                                },
                            {% endfor %}
                        ]
                        },
                options: {
                    plugins: {
                            datalabels: {
                                // anchor: 'end',
                                clamp: true,
                                color: 'black',
                                
                            },
                            legend: {
                            display: true,
                            position:'top',
                            align:'middle',
                            labels: {
                            usePointStyle: true,
                            boxWidth: 6,
                            },
                            },

                            title: {
                                display: false,
                                text: "this is title"
                            },
                            
                        },
                        scales: {
                                y: {
                                    min: 0
                                }
                            },
                        responsive: true,
                        maintainAspectRatio:false, 
                }
            });
        </script>
       
    </div>
    {%else%}
    No data with selected filter 
    {%endif%}
</div>
       