<div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">
        <i class="far fa-chart-bar"></i>
        Logistic stock count per week
        </h3>
        <div class="card-tools"> 
            <ul class="list-group list-group-horizontal" style="height: 35px;">
                <li class="list-group-item" style="padding:7px;"><i type="button" data-toggle="modal" data-target="#logistic_stock " class="info fas fa-info-circle"></i></li>
                <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i></button></li>
                <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;"><i class="fas fa-expand"></i></button></li>
            </ul>  
        </div> 
        </div>
            <div class="card-body">
                <div style="height: 400px" >
                    <canvas id="logistic_stock_per_week" ></canvas>
                    
                </div>
            </div>
        <div class="card-footer clearfix">
    </div>
</div> 

<!--Program demand  -->
<div class="modal" id="logistic_stock" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">						
                <h4 class="modal-title">Logistic Stoc</h4>
            </div>
            <div class="modal-body">	

            </div>
            <div class="modal-footer">
                <input type="button" href="" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <!-- <a href="" id='targetlink' class="btn btn-danger" value="Delete">Delete</a>   -->
            </div>
        </div>
    </div>
</div>


