<div class="card-body">
    {%if records.iterrows%}
    <div style="height: 400px" >
            <canvas id="week_production_plan_count" ></canvas>
            <script>
                var xValues = [{% for index, data in date_production_week.iterrows %}  '{{data.date_production_year_week}}', {% endfor %}];
                var data = [{% for index, data in date_production_week.iterrows %} {{data.id}}, {% endfor %}];
                const week_production_plan_count=new Chart("week_production_plan_count", {
                    // plugins: [ChartDataLabels],
                    type: "bar",
                    data: {
                            labels: xValues,
                            datasets: [
                                {
                                label: 'QTE Production Plan',
                                // backgroundColor:  ['#c9184a','#ff758f','#ffb3c1','#FF9671','#FFC75F','#ffd60a','#34a0a4','#99d98c','#0b525b','#065a60','#006466','#38b000'],
                                // borderColor:  ['#c9184a','#ff758f','#ffb3c1','#FF9671','#FFC75F','#ffd60a','#34a0a4','#99d98c','#0b525b',,'#065a60',"#006466",'#38b000'],
                                backgroundColor:  ['#68C1B6'],
                                borderColor: ['#68C1B6'], 
                                borderWidth: 1,
                                data: data
                                }
                            ]
                            },
                    options: {
                        plugins: {
                                datalabels: {
                                    // anchor: 'end',
                                    clamp: true,
                                    color: 'black',
                                    
                                },
                                legend: {
                                display: true,
                                position:'top',
                                align:'middle',
                                labels: {
                                usePointStyle: true,
                                boxWidth: 6,
                                },
                                },

                                title: {
                                    display: false,
                                    text: "this is title"
                                },
                                
                            },
                            scales: {
                                    y: {
                                        min: 0
                                    }
                                },
                            responsive: true,
                            maintainAspectRatio:false, 
                    }
                });
            </script>
     </div>
     {%else%}
     No data with selected filter 
     {%endif%}
</div>    