{% extends 'base.html' %}
{% load static %}

{% block content %} 


  <!--return back-->  
{% include "app/info/return_back.html" %}
 <!--message alert -->                            
 {% if messages %}
 {% for message in messages %}
     {%include 'app/alerts/alert.html'%}
 {% endfor %}
{% endif %}

<!-- info -->
{% include "app/info/info_page.html" %}
<!-- timeline -->
{% include "app/info/timeline.html" %}
<br>

<div class="content">
  <div class="col-lg-10 offset-lg-1">
    <div class="card custom-card" style="height:380px;">
        <div class="card-header custom-card-header ui-sortable-handle" >
            <h5 class="card-title custom-card-title">COOIS</h5>
        </div>
        <div class="card-body">
          <form action="{% url 'uploadcoois' division product planningapproval %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Upload file input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
              <input id="uploadcoois" name="coois" type="file"  class="form-control border-0" style="box-shadow: 20px 20px 20px 20px rgb(0 0 0 / 50%);" required>
              <label id="upload-label-coois" for="uploadcoois" class="font-weight-light text-muted">Choose a COOIS file</label>
              <div class="input-group-append">
              <label for="uploadcoois" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose a COOIS file</small></label>
              </div>
            </div>
            <center>
              <button onclick="showLoader()" type="submit" class="bn632-hover-upload bn20" value="Upload" ><i class="fa-solid fa-angles-right"></i> Next</button>
              <span id="loader" class="loader" style="display:none"></span>
            </center>
          </form>
          <br>
          <table class="table table-sm">
            <thead>
              <tr>
                <th style="width: 50px">File Name</th>
                <th style="width: 50px">Uploded By</th>
                <th style="width: 50px">Uploded At</th>
              </tr>
            </thead>
            <tbody>
            {% for coois in coois_files %}
            <tr>                                                      
              <td>coois</td>   
              <td>{{ coois.created_by}}</td>
              <td>{{ coois.created_at}}</td>
            </tr>
            {% endfor %} 
            </tbody>
          </table>
        </div>
    </div>
  </div>   
</div>


<!-- Script for downloading -->
<script>
  function showLoader() {
    document.getElementById("loader").style.display = "block";
  }
</script>
  


<script>
/*  ==========================================
    SHOW UPLOADED FILE NAME
* ========================================== */
var input = document.getElementById('uploadcoois')
var infoArea = document.getElementById( 'upload-label-coois');
input.addEventListener( 'change', showFileName );
function showFileName( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea.textContent = 'File name: ' + fileName;
}
</script>


{% endblock %}
