{% extends 'base.html' %}
{% block content %} 


<div class="content">
  <div class="container-fluid">
    <!--message alert -->
    {% if messages %}
    {% for message in messages %}
        {%include 'app/alerts/alert.html'%}
    {% endfor %}
{% endif %}
  <div class="row">
    <div class="col-6">
      <div class="card card-primary card-outline">
       <div class="card-header ui-sortable-handle" >
        <h5 class="card-title" ><strong> COOIS</strong></h5>
        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body" style="background-color: #f4f6f9;">
      
      <form action="{% url 'savecoois' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Upload file input-->
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
          <input id="upload" name="coois" type="file" onchange="readURL(this);" class="form-control border-0" required>
          <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose a COOIS file</label>
          <div class="input-group-append">
              <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose a COOIS file</small></label>
          </div>
        </div>
        <!-- <label for="file">Select a file:</label>
        <input type="file" id="file" name="coois"  required ><i class="fa-solid fa-cloud-arrow-down"></i><br><br> -->
        <center><button type="submit" class="btn btn:hover btn-primary" value="Upload" style="width:120px">Upload <i class="fa-solid fa-arrow-up-from-bracket" style="margin-left:10px ;"></i></button></center>
      </form>
    </div>
    <div class="card-footer clearfix">
    </div>
</div>

          </div>
          <div class="col-6">
            <div class="card card-primary card-outline">
              <div class="card-header ui-sortable-handle" >
                <h5 class="card-title" ><strong> ZPP</strong></h5>
                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
                  <div class="card-body" style="background-color: #f4f6f9;">
                    <form action="{% url 'savezpp' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <!-- Upload file input-->
                      <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input id="upload" name="zpp" type="file" onchange="readURL(this);" class="form-control border-0" required>
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose a ZPP file</label>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose a ZPP file</small></label>
                        </div>
                      </div>
                      <!-- <label for="file">Select a file:</label>
                      <input type="file" id="file" name="zpp" required><br><br> -->
                      
                      <center><button type="submit" class="btn btn:hover btn-primary" value="Upload" style="width:120px">Upload <i class="fa-solid fa-arrow-up-from-bracket" style="margin-left:10px ;"></i></button></center>
                    </form>
                  </div>
                  <div class="card-footer clearfix">
            </div>
        </div>
      </div>
  </div>
</div>
</div>

<script>
$(function () {
    $('#upload').on('change', function () {
        readURL(input);
    });
});
/*  ==========================================
    SHOW UPLOADED FILE NAME
* ========================================== */
var input = document.getElementById( 'upload' );
var infoArea = document.getElementById( 'upload-label' );

input.addEventListener( 'change', showFileName );
function showFileName( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea.textContent = 'File name: ' + fileName;

}

</script>

<style>
#upload {
    opacity: 0;
}
#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
</style>
{% endblock %}