{% extends 'base.html' %}
{% block content %} 


<div class="content">                              
  <div class="container-fluid">
    <!--message alert -->                            

    {% if messages %}
    {% for message in messages %}
        {%include 'app/alerts/alert.html'%}
    {% endfor %}
{% endif %}
  <!--return back-->
  <!-- <div style='margin-bottom:10px'>
    <a href="{%url 'product' division  %}"><i class="fa-solid fa-arrow-left-long" style="color: rgb(35, 35, 80);"></i></a>
  </div> -->

   <!-- info -->
   {% include "app/info/info_page.html" %}
   <!-- timeline -->
   {% include "app/info/timeline.html" %}


  <div class="row">
    <div class="col-6">
      <div class="card card-primary card-outline">
       <div class="card-header ui-sortable-handle" >
        <h5 class="card-title" ><strong> COOIS</strong></h5>
        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body" style="background-color: #f4f6f9;">
      
      <form action="{% url 'savecoois' division product %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Upload file input-->
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
          <input id="uploadcoois" name="coois" type="file"  class="form-control border-0" required>
          <label id="upload-label-coois" for="uploadcoois" class="font-weight-light text-muted">Choose a COOIS file</label>
          <div class="input-group-append">
              <label for="uploadcoois" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose a COOIS file</small></label>
          </div>
        </div>
        <!-- <label for="file">Select a file:</label>
        <input type="file" id="file" name="coois"  required ><i class="fa-solid fa-cloud-arrow-down"></i><br><br> -->
        <center><button type="submit" class="btn btn:hover btn-primary" value="Upload" style="width:120px">Upload <i class="fa-solid fa-arrow-up-from-bracket" style="margin-left:10px ;"></i></button></center>
      </form>
    </div>
    <div class="card-footer clearfix">
    </div>
</div>

          </div>
          <div class="col-6">
            <div class="card card-primary card-outline">
              <div class="card-header ui-sortable-handle" >
                <h5 class="card-title" ><strong> ZPP</strong></h5>
                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
                  <div class="card-body" style="background-color: #f4f6f9;">
                    <form action="{% url 'savezpp' division product %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <!-- Upload file input-->
                      <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input id="uploadzpp" name="zpp" type="file"  class="form-control border-0" required>
                        <label id="upload-label-zpp" for="uploadzpp" class="font-weight-light text-muted">Choose a ZPP file</label>
                        <div class="input-group-append">
                            <label for="uploadzpp" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose a ZPP file</small></label>
                        </div>
                      </div>
                      <!-- <label for="file">Select a file:</label>
                      <input type="file" id="file" name="zpp" required><br><br> -->
                      
                      <center><button type="submit" class="btn btn:hover btn-primary" value="Upload" style="width:120px">Upload <i class="fa-solid fa-arrow-up-from-bracket" style="margin-left:10px ;"></i></button></center>
                    </form>
                  </div>
                  <div class="card-footer clearfix">
            </div>
        </div>
      </div>
  </div>
</div>
</div>



<br><br>
<div class="card">
    <div class="card-header">
      <h3 class="card-title">Historic</h3>
    </div>
    
    <div class="card-body p-0">
        <table class="table table-sm">
          <thead>
          <tr>
          <th style="width: 50px">File Name</th>
          <th style="width: 50px">Uploded By</th>
          <th style="width: 50px">Uploded At</th>
          </tr>
          </thead>
          <tbody>
          {% for zpp in zpp_files %}
          <tr>                                                      
              <td>Zpp</td>   
              <td>{{ zpp.created_by}}</td>
              <td>{{ zpp.created_at}}</td>
          </tr>
          {% endfor %} 

          {% for coois in coois_files %}
          <tr>                                                      
              <td>coois</td>   
              <td>{{ coois.created_by}}</td>
              <td>{{ coois.created_at}}</td>
          </tr>
          {% endfor %} 
        </tbody>
        </table>
    </div>
  </div>





<script>
// $(function () {
//     $('#uploadcoois').on('change', function () {
//         readURL(input);
//     });
// });
/*  ==========================================
    SHOW UPLOADED FILE NAME
* ========================================== */
var input = document.getElementById('uploadcoois')
var infoArea = document.getElementById( 'upload-label-coois' );
input.addEventListener( 'change', showFileName );
function showFileName( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea.textContent = 'File name: ' + fileName;
}
</script>

<script>
  var inputzpp = document.getElementById('uploadzpp')
  // $(function () {
  //     $('#uploadzpp').on('change', function () {
  //         readURL(inputzpp);
  //     });
  // });
  /*  ==========================================
      SHOW UPLOADED FILE NAME
  * ========================================== */
  var infoAreazpp = document.getElementById( 'upload-label-zpp' );
  inputzpp.addEventListener( 'change', showFileName );
  function showFileName( event ) {
    var inputzpp = event.srcElement;
    var fileName = inputzpp.files[0].name;
    infoAreazpp.textContent = 'File name: ' + fileName;
  }
  </script>

<style>
#uploadcoois {
    opacity: 0;
}
#uploadzpp {
  opacity: 0;
}
#upload-label-coois {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
#upload-label-zpp {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
</style>
{% endblock %}