{% extends 'base.html' %}
{% load static %}

{% block content %} 
  
 {% if messages %}
 {% for message in messages %}
     {%include 'app/alerts/alert.html'%}
 {% endfor %}
{% endif %}

<!--return back-->  
{% include "app/info/return_back.html" %}
<!-- info -->
{% include "app/info/info_page.html" %}
<!-- timeline -->
{% include "app/info/timeline.html" %}
<br>

<div class="content">
    <div class="col-lg-10 offset-lg-1">
      <div class="card custom-card" style="height:380px;">
          <div class="card-header custom-card-header ui-sortable-handle">
            <h5 class="card-title custom-card-title">ZPP</h5>
          </div>
          <div class="card-body">
            <form action="{% url 'uploadzpp' division product planningapproval %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="uploadzpp" name="zpp" type="file"  class="form-control border-0" class="form-control border-0" style="box-shadow:20px 20px 20px 20px rgb(0 0 0 / 50%);" required>
                <label id="upload-label-zpp" for="uploadzpp" class="font-weight-light text-muted">Choose a ZPP file</label>
                <div class="input-group-append">
                    <label for="uploadzpp" class="btn btn-light m-0 rounded-pill px-4"><i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose a ZPP file</small></label>
                </div>
              </div>
              <center><button type="submit" class="bn632-hover-upload bn20" value="Upload" ><i class="fa-solid fa-angles-right"></i> Next</button></center>
            </form>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th style="width: 50px">File Name</th>
                  <th style="width: 50px">Uploded By</th>
                  <th style="width: 50px">Uploded At</th>
                </tr>
              </thead>
              <tbody>
                {% for zpp in zpp_files %}
                <tr>                                                      
                    <td>Zpp</td>   
                    <td>{{ zpp.created_by}}</td>
                    <td>{{ zpp.created_at}}</td>
                </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
      </div>
    </div>
</div>

<script>
    var inputzpp = document.getElementById('uploadzpp')
    /*  ==========================================
        SHOW UPLOADED FILE NAME
    * ========================================== */
    var infoAreazpp = document.getElementById( 'upload-label-zpp' );
    inputzpp.addEventListener( 'change', showFileName );
    function showFileName( event ) {
      var inputzpp = event.srcElement;
      var fileName = inputzpp.files[0].name;
      infoAreazpp.textContent = 'File name: ' + fileName;
    }
</script>


  {% endblock %}