
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MPS</title>
  <!------------------ styles------------------>
  <!--Data Table-->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  
  <!--css for calendar-->
  <!--css for switch calendar-->
  <link rel="stylesheet" href="{% static 'app/calendar/css/switch.css' %}">
  <link rel="stylesheet" href="{% static 'app/calendar/css/js-year-calendar.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href= " {% static 'adminlte/fontawesome-free/css/all.min.css' %} ">
  <!-- style -->
  <link rel="stylesheet" href= " {% static 'css/style.css' %} ">

  <!------------------ scripts------------------>
  <!-- jquery -->
  <script src="{% static 'jquery/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'jquery/popper.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>

   <!--Data Table JS-->
  
   <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
   <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
   <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
   <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
   <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
   <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
   <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
   <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
   <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
   <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
   <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
   
  <!-- Alert Toastr -->
  <script src="{% static 'toastr/js/toastr.min.js' %}"></script>
  <link href="{% static 'toastr/css/toastr.css' %}" rel="stylesheet">

  <!-- scripts for calendar -->
  <script src="{% static 'app/calendar/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/calendar/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'app/calendar/js/js-year-calendar.min.js' %}"></script>


  <!-- Font Awesome Icons -->
  <script src="{% static 'fontawesome/js/fontawesome.js' %}"></script>
  <!-- switch jsfor calendar modals(work data and holidays) -->
  <script src="{% static 'app/calendar/js/switch.js' %}"></script>
  
  <!-- Charjs must be in head -->
  <script src="{% static 'chartjs/js/chart.js' %}"></script>
  <script src="{% static 'chartjs/js/chartjs-plugin-datalabels@2.0.0' %}"></script>

  <!-- Registration data label  -->
  <script>
    Chart.register(ChartDataLabels);
  </script>

  <!-- Nice Select(for select multiple) -->
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.css' %}">
  <script src="{% static 'plugins/select2/js/select2.full.js' %}"></script> 

  <!-- adminlte js -->
  <script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
</head>

<!--add sidebar-collapse to class for default collapse menu-->
<body class="hold-transition sidebar-mini ">
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" style ="background: -webkit-linear-gradient(90deg, hsla(198, 65%, 34%, 1) 0%, hsla(178, 44%, 32%, 1) 100%);">
    <!-- <aside class="main-sidebar sidebar-dark-primary elevation-4" style = "background:linear-gradient(to bottom, rgba(6, 65, 95, 0.918) 65%, rgba(4, 55, 81, 0.298) 100%, rgba(17,82,114,0.800) 0%);"> -->

      {% comment %} <aside class="main-sidebar sidebar-dark-primary elevation-4" style ="background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);"> {% endcomment %}
      
      <!-- Brand Logo -->
      <a href="" class="brand-link"  style="text-decoration: none; ">
        <img src="{% static 'img/Lettre_M_.png' %}" alt="mps"  style="margin-left: 7px;:opacity: .8;width:30px">
        <i class="badge" style="font-weight:100"><b>Master Production Schedule</b></i>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'img/avatar.png' %}" class="img-circle elevation-2">
          </div>
          <div class="info">
            <a href="#" class="d-block" style="text-decoration: none; ">Marwa Noomene</a>
          </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" >
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                  <a href="{% url 'home' %}" class="nav-link">
                    <i class="nav-icon fas fa-house"></i>
                    <p>Home</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'filter' %}" class="nav-link">
                    <i class="fa-solid fa-chart-simple nav-icon"></i>
                    <p>Smoothing</p>
                  </a>
                </li>   
                <li class="nav-item">
                  <a href="{% url 'planning' %}" class="nav-link">
                    <i class="fa-solid fa-chart-line  nav-icon"></i>
                    <p>Planning</p>
                  </a>
                </li>
            <li class="nav-item has-treeview menu-open" >
              <a href="#" class="nav-link active" style="background-color: #adb5bd;">
                <i class="nav-icon fas fa-solid fa-gears"></i>
                <p>
                  Configuration
                  <i class="right fas fa-angle-left" ></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="/admin" class="nav-link">
                  <i class="fa-solid fa-user-gear nav-icon"></i>
                  <p>Administration</p>
                  </a>
                </li>  
                <li class="nav-item">
                  <a href="{% url 'division' %}" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>Divisions</p>
                  </a>
                </li>  
                <!-- <li class="nav-item">
                  <a href="{% url 'uploadfiles' %}" class="nav-link">
                    <i class="far fa-solid fa-file nav-icon"></i>
                    <p>Files</p>
                  </a>
                </li> -->

                <li class="nav-item">
                  <a href="{% url 'shopfloor' %}" class="nav-link">
                    <!-- <i class="far fa-circle nav-icon"></i> -->
                    <i class="fa-solid fa-list-check nav-icon"></i>
                    <p>Shopfloor</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" >
      <div class="content-header">
        <div class="container-fluid" style="background-color: white;height: 55px;">
          <div class="row mb-2">
            <div class="col-sm-6">
            <!-- <h1 class="m-0"><a href="{% url 'home' %}" class="nav-link" style="color:#0a3197 !important">MPS </a></h1> -->
            <a href="{% url 'home' %}" class="nav-link" style="color:#0a3197 !important;width: 75px;">
            <img src="{% static 'img/mps_logo.png' %}" style="width: 75px;
              margin-top: 5px;
              margin-left: -13px"> </a>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right" style="margin-top: 10px;">
                <!-- <li class="breadcrumb-item"> <a href="{% url 'home' %}">MPS </a></li> -->
                <li class="breadcrumb-item active">{{request.get_full_path}}</li>
                <!-- <li class="breadcrumb-item active">Starter Page</li> -->
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- Main content -->
      <div class="content" >
        {% block content %}

        {% endblock %}          
      </div>
    </div>
    <div>
      <footer class="main-footer">
        <!--current year-->
        {% now "Y" as current_year %}
        <strong >Latecoere Proprietary Information &copy; MRPC Latecoere – {{ current_year }}  – All rights reserved
      
          </strong>
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.4.30
          </div>
      </footer>
    </div>
  </div>
</body>

</html>



 
 
