{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--return back-->  
<div style='margin-bottom:10px'>
    <a href="{%url 'product' division  %}"><i class="fa-solid fa-arrow-left-long" style="color: rgb(35, 35, 80);"></i></a>
</div>
<!-- info -->
{% include "app/info/info_page.html" %}

<section class="page-contain">
  {% for plannings in planning_informations %}
    {% if plannings.shared_version %}
      <a href="{% url 'kpis' division product plannings.id 'planning_list' plannings.shared_version %}" class="data-card">
    {% elif plannings.last_version %}
      <a href="{% url 'kpis' division product plannings.id 'planning_list' plannings.last_version %}" class="data-card">
    {% else %}
        <a href="{% url 'kpis' division product plannings.id 'planning_list' 'no_version' %}" class="data-card">
    {% endif %}
    
    <h3>{{plannings.name}}</h3>
      
      <h4>{{plannings.created_at | date:'Y-m-d'}}</h4>
          <ul>
              <li>By: {{plannings.created_by}}</li>
              <hr>
              <li>Status: Incomplete</li>
              <hr>
              <li>Shared:  {{plannings.shared_status}} {% if plannings.shared_version %} : V {{plannings.shared_version}} {% endif %}</li>
              <hr>
              <li>Number of versions:  {{plannings.version_count}}</li>


          </ul>
        <span class="link-text">
          View details, Edit 
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
          </svg>
        </span>
    </a>
  {% endfor %}
  </section>

  

<!-- button Add new plannig -->
<a href="{% url 'newplanning' division product %}"><button class="bn632-hover bn20"><i class="fa-solid fa-plus"></i> New Planning</button></a>

<script>
    const slideValue = document.querySelector('[data-id="value"]');
    const inputSlider = document.querySelector("input");
    inputSlider.oninput = (()=>{
      let value = inputSlider.value;
      slideValue.textContent = value;
      slideValue.style.left = (value/2) + "%";
      slideValue.classList.add("show");
    });
    inputSlider.onblur = (()=>{
      slideValue.classList.remove("show");
    });
</script>





{% endblock %}