{% extends 'base.html' %}


{% block content %} 



<div class="content">
    <div class="container-fluid">

        <form method="POST"  action="{% url 'filter' %}">
            <!-- Security token by Django -->
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    <div class="card card-row" >
                        <div class="card-header"style="background-color: #2a9d8f; color:white;">
                            <h3 class="card-title">
                            Divisions
                            </h3>
                        </div>
                        <div class="card-body">
                            <select name="division_name" size="1"  class="custom-select form-control-border" id="exampleSelectBorder">
                                {% for item in divisions_list %}
                                <option value="{{item.name}}" {% if division == item.name %} selected {% endif %}>{{item.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-row card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                            Profit Center
                            </h3>
                        </div>
                        <div class="card-body">
                            <select name="center_profit" size="1" size="1"  class="custom-select form-control-border" id="exampleSelectBorder">
                                {% for item in center_profit_list %}
                                <option value="{{item.Profit_center}}" {% if item.Profit_center in profit_center%} selected {% endif %}>{{item.Profit_center}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-row card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                            Planning
                            </h3>
                        </div>
                        <!-- <div class="card-body">
                            <div class="select2-primary" >
                                <select name="planning" size="1" class="select2 select2-hidden-accessible" multiple="" data-placeholder="* Multiple" data-dropdown-css-class="select2-primary"  data-select2-id="15" tabindex="-1" aria-hidden="true"  style="width: 100%;">
                                    {% for item in planning_list %}
                                    <option value="{{item.planning}}" {% if item.planning in planning   %} selected {% endif %}>{{item.planning}}</option>
                                    {% endfor %}
                                </select> 
                            </div> -->
                            <div class="card-body">
                                    <select name="planning" size="1" size="1"  class="custom-select form-control-border" id="exampleSelectBorder">
                                        {% for item in planning_list %}
                                        <option value="{{item.planning}}" {% if item.planning in planning   %} selected {% endif %}>{{item.planning}}</option>
                                        {% endfor %}
                                    </select> 
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card card-row">
                        <div class="card-header" style="background-color:#0077b6; color:white;">
                            <h3 class="card-title">
                            Week
                            </h3>
                        </div>
                        <div class="card-body">
                            <input type="week" name="week" id="week" class="form-control" min="{{created_at_year_week}}" max="{{created_at_year_week}}" value="{{created_at_year_week}}" required>

                            <!-- <select name="week" size="1" class="custom-select form-control-border" id="exampleSelectBorder">
                                <option value="exemple">Exemple</option>
                            </select> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-outline-primary" style="width:100%;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<br>
<hr>

<!-- <div class="select2-primary" style="width: 80%;height: 90px;overflow-y: auto;">
    <select name='profit_center'  class="select2 select2-hidden-accessible" multiple="" data-placeholder="Select a Profit center" data-dropdown-css-class="select2-primary" style="width: 100%;" data-select2-id="15" tabindex="-1" aria-hidden="true"> 
        <option>test</option>
        <option>marwa</option>
        <option>noomene</option>

    </select>
</div> -->
<div class="row">
    <center>
        <h3 >
            <i class="fas fa-code-branch"></i>
            Available versions 
        </h3>
    </center>
    <div class="col-12" style="display: flex;flex-wrap: nowrap;justify-content: space-around;">

                <div style="border: 1px solid #ccc!important;border-radius: 16px;padding: 13px;background-color: white;" >
                    <form action="{% url 'result' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{division}}" name="division">
                        <input type="hidden" value="{{profit_center}}" name="profit_center">
                        <input type="hidden" value="{{planning}}" name="planning">
                    
                        {% for version in versions %}
                            <a class="btn btn-app" style="width:90px;height: 100px;" >
                                <button type="submit" value="{{version.version}}" name="version"  style="border: none;background-color: transparent;color: white;">   

                                {%if version.shared == True %}
                                <span class="badge"style="font-size:14px;background-color:#2a9d8f;" >{{version.version}}
                                {% else %} 
                                <span class="badge" style="font-size:14px;background-color: #ccc; color: black;">{{version.version}}
                                {%endif%}    
                                </span>
                                        <i class="fas fa-code-branch" style="font-size:40px;color: black;"></i>
                                    </button>
                                        {%if version.shared == True %} Shared {% else %} Unshared{%endif%} 
                            </a>
                        {%empty%}
                        No data with selected filter 
                        {% endfor %}
                    </form> 
                </div>
    </div>
</div>   

<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
    
</script> 

<script>
    $(document).ready(function() {
        $('#center').select2();
    });
    
</script> 

{% endblock %}