{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--return back-->  
<div style='margin-bottom:10px'>
    <a href="{%url 'allplanning' division product  %}"><i class="fa-solid fa-arrow-left-long" style="color: rgb(35, 35, 80);"></i></a>
</div>
<!-- info -->
{% include "app/info/info_page.html" %}
<!-- time line (process) -->
{% include "app/info/timeline.html" %}



<div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <!-- <h6>Planning Name</h6>  -->
                  <!-- <h2>Fill Out The Form Below To <span>Get</span> In <em>Touch</em> With Us</h2>  -->
                  <h3>Plannig Name </h3> 
                </div>
              </div>
                <div class="row">
                  <div class="col-lg-10 offset-lg-1">
                    <fieldset>
                      <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" autofocus required>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button ">Next</button>
                    </fieldset>
                  </div>
                </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
