{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--message alert -->
{% if messages %}
{% for message in messages %}
    {%include 'app/alerts/alert.html'%}
{% endfor %}
{% endif %}


<!--return back-->  
{% include "app/info/return_back.html" %}
<!-- info -->
{% include "app/info/info_page.html" %}
<!-- time line (process) -->
{% include "app/info/timeline.html" %}
<br>

<div class="content">  
  <div class="col-lg-10 offset-lg-1"> 
    <div class="card custom-card" style="height:250px;">
        <div class="card-header custom-card-header ui-sortable-handle">
          <h5 class="card-title custom-card-title">Planning Name</h5>
        </div>
        <div class="card-body">
          <form action="{% url 'newplanning' division product %}" method="post">
            {% csrf_token %}
              <div>
                <input type="name" name="name" id="name" style="border-radius: 30px !important;" placeholder="Name" class="form-control" autocomplete="on" autofocus required>
              </div>
              <div>
                <center>
                  <button type="submit" class="bn632-hover-upload bn20"><i class="fa-solid fa-angles-right"></i> Next</button>
                </center>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>


{% endblock %}
