{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--return back-->  
{% include "app/info/return_back.html" %}
<!-- info -->
{% include "app/info/info_page.html" %}

<div class="col-12"> 
    <div class="callout callout-info">
    <h5>Versions</h5><br>
    <form method="POST" action ="">  
        {% csrf_token %}
        {%for version in versions %}
        <input  type="submit" class="btn  btn-outline-primary" style="border-radius: 10px 10px 10px 10px;margin-left: 7px;text-decoration:none;" value=" version: {{version}}" name="division">
        {%empty%}
        <p>No versions in this Planning, Please complete the process.</p> 
        {%endfor%}
   </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
              <h3 class="card-title custom-card-title">
                <i class="far fa-chart-bar"></i>
                    Demand | Production
                </h3>
                <div class="card-tools"> 
                    <ul class="list-group list-group-horizontal" style="height: 35px;">
                        <li class="list-group-item" style="padding:4px;"><i type="button" data-toggle="modal" data-target="#test_stocked " class="info fas fa-info-circle" style="margin-bottom:7px;"></i></li>
                        <li class="list-group-item" style="padding:3px;"><button type="button" class="btn btn-tool" data-card-widget="collapse" style="padding:3px;padding-top: 0px;">
                            <i class="fas fa-minus"></i></button></li>
                        <li class="list-group-item" style="padding:8px;"><button type="bpxutton" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;margin-bottom: 0px;"><i class="fas fa-expand"></i></button></li>
                    </ul>  
                </div> 
                </div>
                <div id="demand_prod_planning_week" style="display:block ;">
                    {% include 'app/charts/demand_prod_planning_week.html' %}
                </div>
                <div id="demand_prod_planning_month" style="display:none ;">
                    {% include 'app/charts/demand_prod_planning_month.html' %}
                </div>
        </div> 
    </div>
</div> 

<!--Cycle time -->
<div  class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
              <h3 class="card-title custom-card-title">
                <i class="far fa-chart-bar"></i>
                    Cycle Time
                </h3>
                <div class="card-tools"> 
                    <ul class="list-group list-group-horizontal" style="height: 35px;">
                        <li class="list-group-item" style="padding:4px;"><i type="button" data-toggle="modal" data-target="#test_stocked " class="info fas fa-info-circle" style="margin-bottom:7px;"></i></li>
                        <li class="list-group-item" style="padding:3px;"><button type="button" class="btn btn-tool" data-card-widget="collapse" style="padding:3px;padding-top: 0px;">
                            <i class="fas fa-minus"></i></button></li>
                        <li class="list-group-item" style="padding:8px;"><button type="bpxutton" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;margin-bottom: 0px;"><i class="fas fa-expand"></i></button></li> 
                    </ul>  
                </div> 
                </div>
                <div id="cycle_kpi_week" style="display:block ;" >
                    {% include 'app/charts/week_cycle_count.html' %}
                </div>
                <div id="cycle_kpi_month" style="display:none ;" >
                    {% include 'app/charts/month_cycle_count.html' %}
                </div>
        </div> 
    </div>
</div> 

<!-- Production plan-->
<div  class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
              <h3 class="card-title custom-card-title">
                <i class="far fa-chart-bar"></i>
                   Production Plan
                </h3>
                <div class="card-tools"> 
                    <ul class="list-group list-group-horizontal" style="height: 35px;">
                        <li class="list-group-item" style="padding:4px;"><i type="button" data-toggle="modal" data-target="#test_stocked " class="info fas fa-info-circle" style="margin-bottom:7px;"></i></li>
                        <li class="list-group-item" style="padding:3px;"><button type="button" class="btn btn-tool" data-card-widget="collapse" style="padding:3px;padding-top: 0px;">
                            <i class="fas fa-minus"></i></button></li>
                        <li class="list-group-item" style="padding:8px;"><button type="bpxutton" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;margin-bottom: 0px;"><i class="fas fa-expand"></i></button></li> 
                    </ul>  
                </div> 
                </div>
                <div id="production_plan_week" style="display:block ;" >
                    {% include 'app/charts/week_production_plan.html' %}
                </div>
                <div id="production_plan_month" style="display:none ;" >
                    {% include 'app/charts/month_production_plan.html' %}
                </div> 
        </div> 
    </div>
</div> 










{% endblock %}
