{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--return back-->  
{% include "app/info/return_back.html" %}
<!-- info -->
{% include "app/info/info_page.html" %}

<div class="col-12"> 
    <div class="callout callout-info">
    <h5>Versions</h5><br>
    <form method="POST" action ="">  
        {% csrf_token %}
        {%for version in versions %}
        <input  type="submit" class="btn  btn-outline-primary" style="border-radius: 10px 10px 10px 10px;margin-left: 7px;text-decoration:none;" value=" version: {{version}}" name="division">
        {%empty%}
        <p>No versions in this Planning, Please complete the process .</p> 
        {%endfor%}
   </form>
    </div>
</div>








{% endblock %}
