{% extends 'base.html' %}


{% block content %} 

<div class="content">
    <div class="container-fluid">
        <!--message alert -->
        {% if messages %}
            {% for message in messages %}
                {%include 'app/alerts/alert.html'%}
            {% endfor %}
        {% endif %}

                <!--card close by default-->
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="card card-outline collapsed-card">
                                <div class="card-header ui-sortable-handle">
                                    <h5 class="card-title" ><strong> Setup </strong></h5>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" >
                                    <h4>Calendar :</h4>
                                    
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="official" name="calendar" checked="">
                                        <label for="official" class="custom-control-label">Official calendar</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="custom" name="calendar">
                                        <label for="custom" class="custom-control-label">Custom calendar</label>
                                    </div>
                              </div>
                              
                        </div>  
                    </div>
                </div> -->
           <!--disabled radio custom calendar-->     
          <!-- <script>
            document.getElementById("custom").disabled = true;
          </script>  -->
        
        <div class="row">
            <div class="col-12">
                <!-- <form method="POST" action="{%url 'createshopfloor' %}"> -->
                    <!-- Security token -->
                    <!-- {% csrf_token %} -->
                <div class="card card-primary card-outline">
                      <div class="card-header ui-sortable-handle">
                        <h5 class="card-title" ><strong> Shopfloor</strong></h5>
                        <!--card tools-->
                        <div class="card-tools">
                            <form method="POST" action="{%url 'createshopfloor' %}">
                                <!-- Security token -->
                                {% csrf_token %}
                            <ul class="list-group list-group-horizontal" style="height: 35px;">
                                <!-- <li class="list-group-item" style="padding:7px;"><i type="button" data-toggle="modal" data-target="#inventory_accuracy_count_per_division_modal" class="info fas fa-info-circle"></i></li> -->
                                <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i></button></li>
                                    
                            <li class="list-group-item" style="padding:7px;"><div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu" >
                                    <a href="#" class="dropdown-item">Calendar</a><hr>
                                    
                                    <input class="control-input" type="radio" id="official" name="calendar" checked="" style="margin-left: 10px;" value="official">
                                    <label for="official" class="control-label" >Official</label>
                                    <br>
                                    <input class="control-input" type="radio" id="custom" name="calendar" style="margin-left: 10px;" value="custom">
                                    <label for="custom" class="control-label">Custom</label>
                                    <!-- <hr>
                                    <a href="#" class="dropdown-item">Exemple</a> -->
                                </div>
                            </div></li>
                            <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;"><i class="fas fa-expand"></i></button></li>
                            </ul>
                        </div>
                      </div>
                      <div class="card-body table-responsive p-0 " style="height: 600px;">
                      <div class="card-body">
                        <!-- <form method="POST" action="{%url 'createshopfloor' %}"> -->
                            <!-- Security token -->
                            <!-- {% csrf_token %} -->
                        					
                         <table id="spreadsheet" class="table table-bordered table-head-fixed text-nowrap table-hover">
                            <thead >
                                <tr>
                                    <th colspan="2"></th>
                                    <th colspan="13" style="text-align: center; color:#b288ff;">COOIS</th>
                                    <th colspan="2" style="text-align: center; color:#3dcae1;">ZPP</th>
                                    <th colspan="5" style="text-align: center; color:#e83e8c;">Material</th>
                                    <th colspan="3" style="text-align: center; color:#007bff;">User Input</th>
                                </tr>
                                <tr>
                                    <th>id</th>
                                    <th>Closed?</th>
                                    <th style='background: #b288ff;color: white;'>Division</th>
                                    <th style='background: #b288ff;color: white;'>Profit Center</th>
                                    <th style='background: #b288ff;color: white;'>Order</th>
                                    <th style='background: #b288ff;color: white;'>Material</th>         
                                    <th style='background: #b288ff;color: white;'>Description</th>
                                    <th style='background: #b288ff;color: white;'>Order Type </th>
                                    <th style='background: #b288ff;color: white;'>Order quantity</th>
                                    <th style='background: #b288ff;color: white;'>Start Date</th>
                                    <th style='background: #b288ff;color: white;'>End Date</th>
                                    <th style='background: #b288ff;color: white;'>Freeze </th>
                                    <th style='background: #b288ff;color: white;'>System Status</th>
                                    <th style='background: #b288ff;color: white;'>Sales Order</th>
                                    <th style='background: #b288ff;color: white;' >Date end reel</th>
                                    <th style='background: #3dcae1;color: white;'>Reschedule date</th>
                                    <th style='background: #3dcae1;color: white;'>Exception message</th>
                                    <th style='background: #e83e8c;color: white;'>Allocated time</th>
                                    <th style='background: #e83e8c;color: white;'>Leadtime</th>
                                    <th style='background: #e83e8c;color: white;'>Workstation</th>
                                    <th style='background: #e83e8c;color: white;'>Allocated time on workstation</th>
                                    <th style='background: #e83e8c;color: white;'>Smooth Family</th>
                                    <th style='background: #007bff;color: white;'>Ranking</th>
                                    <th style='background: #007bff;color: white;'>Freeze end date</th>
                                    <th style='background: #007bff;color: white;'>Remain to do</th>
                                    <!-- <th>Smoothing end date</th> -->
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for index,data in records.iterrows %}
                                    <tr {%if data.closed == True %} style="display:none;" {% endif %}>
                                        <!--coois-->
                                        <!-- <td>{{data.id}}</td> -->
                                        <td><input id="index" name="index" type="text" class="form-control custom-input"  value="{{data.id}}" readonly="readonly"> </td> 
                                        <td><input id="closed" name="closed" type="text" class="form-control custom-input"  value="{{data.closed}}" readonly="readonly"> </td> 
                                        <td><input id="division" name="division" type="text" class="form-control custom-input"  value="{{ data.division }}" readonly="readonly"></td> 
                                        <td><input id="profit_centre" name="profit_centre" type="text" class="form-control custom-input"  value="{{ data.profit_centre}}"readonly="readonly"  ></td>
                                        <td><input id="order" name="order" type="text" class="form-control custom-input"  value="{{data.order}}" readonly="readonly" ></td>   
                                        <td><input id="material" name="material" type="text" class="form-control custom-input"  value="{{data.material}}"readonly="readonly"  ></td>
                                        <td><input id="designation" name="designation" type="text" class="form-control custom-input"  value="{{ data.designation}}"readonly="readonly" readonly="readonly"></td>
                                        <td><input id="order_type" name="order_type" type="text" class="form-control custom-input"  value="{{ data.order_type}}" readonly="readonly" ></td>
                                        <td><input id="order_quantity" name="order_quantity" type="text" class="form-control custom-input"  value="{{ data.order_quantity}}" readonly="readonly"  ></td>
                                        <td><input id="date_start_plan" name="date_start_plan" type="text" class="form-control custom-input"  value="{{ data.date_start_plan | date:'d/m/Y'}}" readonly="readonly"></td>
                                        <td><input id="date_end_plan" name="date_end_plan" type="text" class="form-control custom-input"  value="{{ data.date_end_plan | date:'d/m/Y'}}" readonly="readonly"></td>
                                        <td><input id="fixation" name="fixation" type="text" class="form-control custom-input"  value="{{ data.fixation}}" readonly="readonly"  ></td>
                                        <td><input id="order_stat" name="order_stat" type="text" class="form-control custom-input"  value="{{ data.order_stat }}" readonly="readonly"  ></td>
                                        <td><input id="customer_order" name="customer_order" type="text" class="form-control custom-input"  value="{{ data.customer_order}}" readonly="readonly"  ></td>
                                        <td><input id="date_end_real" name="date_end_real" type="text" class="form-control custom-input"  value="{{data.date_end_real | date:'d/m/Y'}}" readonly="readonly"  ></td>
                                        <!--zpp-->
                                        <td><input id="date_reordo" name="date_reordo" type="text" class="form-control custom-input"  value="{{ data.date_reordo | date:'d/m/Y'}}" readonly="readonly"  ></td>
                                        <td><input id="message" name="message" type="text" class="form-control custom-input"  value="{{ data.message}}" readonly="readonly"  ></td>
                                        <!--material-->
                                        <td><input id="AllocatedTime" name="AllocatedTime" type="text" class="form-control custom-input"  value="{{ data.AllocatedTime}}" readonly="readonly"  ></td>
                                        <td><input id="Leadtime" name="Leadtime" type="text" class="form-control custom-input"  value="{{data.Leadtime}}" readonly="readonly"  ></td>
                                        <td><input id="workstation" name="workstation" type="text" class="form-control custom-input"  value="{{data.workstation}}" readonly="readonly"  ></td>
                                        <td><input id="Allocated_Time_On_Workstation" name="Allocated_Time_On_Workstation" type="text" class="form-control custom-input"  value="{{ data.Allocated_Time_On_Workstation}}" readonly="readonly"  ></td>
                                        <td><input id="Smooth_Family" name="Smooth_Family" type="text" class="form-control custom-input"  value="{{ data.Smooth_Family}}" readonly="readonly" ></td>
                                        <td><input  id="Ranking" name="Ranking" type="date" class="form-control" value="{{ data.Ranking| date:'Y-m-d'}}"></td>
                                        <td><input  id="freeze_end_date" name="freeze_end_date" type="datetime-local" class="form-control" custom-input></td>
                                        <td><input  id="Remain to do" name="Remain to do" type="text" class="form-control" custom-input ></td>
                                        <!-- <td>{{data.smoothing_end_date}}</td> -->
                                    </tr>
                                    {%empty%}
                                        <tr><td> Data Empty</td></tr>
                                    {% endfor %}
                            </tbody>      
                         </table>   
                      </div>
                    </div>
                </div>  
                <input type="submit" class="btn btn:hover btn-primary custom-save-shopfloor" value="Save" >
                <!-- <input type="button"  data-target="#launching_calculation" data-toggle="modal" class="btn btn:hover btn-primary custom-save-shopfloor" value="Save"  > -->
                <!-- <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" style="float: right;"> -->
              
                </form>  
        </div>
    </div>

</div>
</div>

<!-- <script>
    jspreadsheet(document.getElementById('spreadsheet')); 
</script> -->


{% endblock %}