<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h5 class="m-0">Divisions</h5>
                      </div>
                      <div class="card-body">
                            test
                      </div>
                      <div class="card-footer clearfix">
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<!--modal-xl-->
