{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="content">
    <div class="container-fluid">
         <!--return back-->
        <div style='margin-bottom:10px'>
            <a href="{%url 'product' division %}"><i class="fa-solid fa-arrow-left-long" style="color: rgb(35, 35, 80);"></i></a>
        </div>

         <!-- info -->
         {% include "app/info/info_page.html" %}
        
            
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header ui-sortable-handle" >
                        <h5 class="card-title" ><strong> Calendar</strong></h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                      </div>
                    </div>
                      <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <form method="POST"  action="{% url 'copycalendar' division product %}">
                                    <!-- Security token by Django -->
                                    {% csrf_token %}
                                    <b>From: </b> 
                                    <div class="input-group input-group-sm" style="width:300px">
                                        <select name="product_copied" size="1" style="height: 40px;"  class="custom-select form-control-border" id="exampleSelectBorder">
                                            <!--list of product-->
                                            {% for p in products_data %}
                                            <option value="{{p.id}}">{{p.division.name}} | {{p.product}}  </option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-outline-primary">Copy!</button>
                                        </span>
                                    </div>
                                </form>  
                            </div>
                            <div class="col-6">
                                <b>Edit: </b> 
                                <div>
                                    <a class="btn btn-outline-primary" href="{% url 'duplicatecalendar' division product %}" style="margin-bottom: 10px;">Duplicate This Calendar <i class="fa-regular fa-copy"></i> </a>
                                    <b>Or: </b><a href="{% url 'customcalendar' division product %}" style="margin-bottom: 10px; text-decoration: none !important;" >  View your custom Calendar </a>
                                </div>    
                            </div>
                        </div>
                             <!-- <select class="btn-outline-primary dropdown-toggle dropdown-toggle-split" name="product_copied" size="1" >
                            {% for p in products_data %}
                             <option value="{{p.id}}">{{p.division.name}} | {{p.product}}  </option>
                             {% endfor %}
                            </select> 
                            <input class="btn btn-outline-primary" type="submit" value="valid"/>  -->
                        <hr>
                        <!--Display Calendar-->
                        <div class="calendar"></div>
                      </div>
                      <div class="card-footer clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Delete Modal-->
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form  action="{% url 'deleteday' division product %}" method='POST'>
                
                <!-- Security token -->
                    {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="date_id" class="form-control">
                    <input type="hidden" name="date_type" class="form-control">
                    <!-- <input type="text" name="cycle_id" class="form-control"> -->
                    <div id="deleteCycle"></div>
                    <p>Are you sure you want to delete these Records?</p>
                </div>
        
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger"   name ='delete' >Delete</button>
                </div>
            </form>
        </div>  
    </div>
</div>
  
<!--Save and update Modal -->
<div class="modal fade" id="event-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Product Planification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br>
            <div class="button r" id="button-1">
            <input type="checkbox" class="checkbox" id="checkForm" onclick="checkForm()" />
            <div class="knobs"></div>
            <div class="layer"></div>
            </div>
        <br>
        <form action="{% url 'createcalendar' division product%}" method='POST' id="daysOff" style="display: none;">
            <!-- Security token -->
            {% csrf_token %}
            
            <div class="modal-body">
                <center><h6 class="col-sm-4 control-label calendar-text " style="color:var(--bs-red);">Holiday</h6></center>
                <hr>
                <input type="hidden" name="event-index">
                <form class="form-horizontal">
                <div class="form-group row">
                    <label for="event-name" class="col-sm-4 control-label">Name</label>
                    <div class="col-sm-8">
                    <input id="event-name" name="event-name" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row"></div>
                <div class="form-group row">
                    <label for="min-date" class="col-sm-4 control-label">Dates</label>
                    <div class="col-sm-8">
                    <div class="input-group input-daterange" data-provide="datepicker">
                        <input id="min-date" name="event-start-date" type="text" class="form-control">
                        <div class="input-group-prepend input-group-append">
                            <div class="input-group-text">to</div>
                        </div>
                        <input name="event-end-date" type="text" class="form-control">
                    </div>
                    </div>
                </div>
        
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="save-event" name ='save-event'>Save</button>
            </div>
        </form>
        <!--work hours form -->
        <form action="{% url 'workdata' division product%} " method='POST' id="daysOn">
            <!-- Security token -->
            {% csrf_token %}
            
            <div class="modal-body">
            <center><h6 class="col-sm-4 control-label calendar-text" style="color:var(--info);">Work Day</h6></center>
            <hr>
                <input type="hidden" name="event-index">
                <form class="form-horizontal">
                <div class="form-group row">
                <label for="start-time" class="col-sm-4 control-label">Start Time</label>
                <div class="col-sm-8" >
                <input id="start-time" name="start-time" type="time" class="form-control" step="1" class="out_timepicker form-control input-small" data-provide="timepicker" required="" >
                </div>
                </div>

                <div class="form-group row">
                <label for="end-time" class="col-sm-4 control-label">End Time</label>
                <div class="col-sm-8">
                <input id="end-time" name="end-time" type="time" class="form-control" step="1" class="out_timepicker form-control input-small" data-provide="timepicker" required="" >
                </div>
                </div>

                <div class="form-group row">
                <label for="fte" class="col-sm-4 control-label">FTE hour by day</label>
                <div class="col-sm-8">
                <input id="fte" name="fte" type="number" class="form-control" required="" step="0.01">
                </div>     
                </div>
                
                <div class="form-group row">
                <label for="extra-hours" class="col-sm-4 control-label">Extra hour</label>
                <div class="col-sm-8">
                <input id="extra-hours" name="extra-hours" type="number" class="form-control" required=""step="0.01" >
                </div>     
                </div>  
                
                <div class="form-group row">
                <label for="Absenteeism-ratio" class="col-sm-4 control-label">Absenteeism ratio</label>
                <div class="col-sm-8">
                <input id="Absenteeism-ratio" name="Absenteeism-ratio" type="number" class="form-control" required=""step="0.01">
                </div>     
                </div>  
                
                <div class="form-group row">
                <label for="Unproductiveness-ratio" class="col-sm-4 control-label">Unproductiveness ratio</label>
                <div class="col-sm-8">
                <input id="Unproductiveness-ratio" name="Unproductiveness-ratio" type="number" class="form-control" required="" step="0.01" >
                </div>     
                </div>  
                
                <div class="form-group row">
                    <label for="Efficienty-ratio" class="col-sm-4 control-label">Efficienty ratio</label>
                    <div class="col-sm-8">
                    <input id="Efficienty-ratio" name="Efficienty-ratio" type="number" class="form-control" required=""step="0.01" >
                    </div>     
                </div> 
                <div class="form-group row">
                    <table class="table table-bordered text-nowrap table-sm">
                    <thead >
                        <tr>
                            <th><label for="smooth_family" class="col-sm-4 control-label">Smooth Family</label></th>
                            <th><label for="cycle_time" class="col-sm-4 control-label">Cycle time</label></th>
                            <th><label for="cycle-time-type" class="col-sm-4 control-label">Type</label></th>

                        </tr>
                    </thead> 
                        <tbody id="inputContainer">
                        
                            
                        <!-- {% for d in smooth_family %}
                        <tr>
                            <td><input id="smooth_family" name="smooth_family" type="text" class="form-control custom-input"  value="{{d.material__Smooth_Family}}" readonly="readonly"> </td> 
                        <td class="form-row">
                            <div class="inline-radio-input col-sm-8" >
                            <input style="width: 100px;" id="cycle_time" name="cycle_time" type="number" class="form-control" required="">
                        </td>
                        <td>
                            <input style="margin:10px ;" type="radio" id="hour" name="cycle-type-{{d.Smooth_Family}}" value="Hours">
                            <label style="margin:10px ;" for="hour">Hours</label>
                            <input style="margin:10px ;" type="radio" id="day" name="cycle-type-{{d.Smooth_Family}}" value="Days">
                            <label style="margin:10px ;" for="day">Days</label><br>
                            </div> 
                        </td>
                        </tr>
                        {%endfor%} -->

                        
                    </tbody> 
                    </table>   
                </div> 

                <div class="form-group row"></div>
                <div class="form-group row">
                    <label for="min-date" class="col-sm-4 control-label">Dates</label>
                    <div class="col-sm-8">
                    <div class="input-group input-daterange" data-provide="datepicker">
                    <input id="min-date" name="event-start-date" type="text" class="form-control">
                    <div class="input-group-prepend input-group-append">
                    <div class="input-group-text">to</div>
                    </div>
                        <input name="event-end-date" type="text" class="form-control">
                    </div>
                    </div>
                </div>
        
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="save-work" name ='save-work'>Save</button>
            </div>
        </form>
        </div>  
    </div>
</div>



<script>
   let calendar = null;

    function editEvent(event) {
        $('#event-modal input[name="event-index"]').val(event ? event.id : '');
        $('#event-modal input[name="event-name"]').val(event ? event.name : '');
        $('#event-modal input[name="event-start-date"]').datepicker('update', event ? event.startDate : '');
        $('#event-modal input[name="event-end-date"]').datepicker('update', event ? event.endDate : '');
        $('#event-modal input[name="extra-hours"]').val(event ? event.extraHour : '');
        $('#event-modal input[name="fte"]').val(event ? event.eTEhourByDay : '');
        $('#event-modal input[name="Absenteeism-ratio"]').val(event ? event.absenteeism_ratio : '');
        $('#event-modal input[name="Unproductiveness-ratio"]').val(event ? event.unproductiveness_ratio : '');
        $('#event-modal input[name="Efficienty-ratio"]').val(event ? event.efficienty_ratio : '');
        $('#event-modal input[name="start-time"]').val(event ? event.StartTime : '');
        $('#event-modal input[name="end-time"]').val(event ? event.EndTime : '');
        $('#event-modal input[name="cycle_time"]').val(event ? event.Cycle_Time : '');
        // $('#event-modal input[name="date_id"]').val(event ? event.cycle_id : '');
        $('#event-modal input[name="cycle_id"]').val(event ? event.cycle_id : '');
        $('#event-modal').modal();
        
        // create body elements
        // get div by id
        var inputContainer = document.getElementById("inputContainer");
        //delete the content of the div attribute
        inputContainer.innerHTML='';
        // to save
            if (event.id == null){
                {%for i in smooth_family%}
                // console.log("{{i.material__Smooth_Family}}")
                    // tr
                    tr1 = document.createElement('tr'); 
                    // td1
                    td1 = document.createElement('td'); 
                    // create smoothi_family input
                    smooth_input = document.createElement("input");
                    smooth_input.setAttribute("type", "text");
                    smooth_input.setAttribute("name", "smooth_family");
                    smooth_input.setAttribute("readonly", "");
                    smooth_input.setAttribute("value", "{{i.Smooth_Family}}"),
                    smooth_input.setAttribute("class", "form-control"),
                    // add a node to the end of the list 
                    td1.appendChild(smooth_input);
                    tr1.appendChild(td1);

                    // td2
                    td2 = document.createElement('td'); 
                    // create cycle_time input
                    cycle_input = document.createElement("input");
                    cycle_input.setAttribute("type", "number");
                    cycle_input.setAttribute("name", "cycle_time");
                    cycle_input.setAttribute("step", "0.01");
                    cycle_input.setAttribute("class", "form-control"),
                    cycle_input.setAttribute('required', '');
                    td2.appendChild(cycle_input);
                    tr1.appendChild(td2);
                    
                    // td3
                    td3 = document.createElement('td'); 
                    // create label for hour 
                    hour_label = document.createElement("label");
                    hour_label.innerHTML = "Hours";
                    td3.appendChild(hour_label);
                    // create radio for hour
                    hour_input = document.createElement("input");
                    hour_input.setAttribute("type", "radio");
                    hour_input.setAttribute("id", "hour");
                    hour_input.setAttribute("name", "cycle-type-{{i.Smooth_Family}}");
                    hour_input.setAttribute("value", "Hours");
                    hour_input.setAttribute("checked", "checked");
                    td3.appendChild(hour_input);
                    // create label for day 
                    day_label = document.createElement("label");
                    day_label.innerHTML = "Days";
                    td3.appendChild(day_label);
                    // create radio for day
                    day_input = document.createElement("input");
                    day_input.setAttribute("type", "radio");
                    day_input.setAttribute("id", "day");
                    day_input.setAttribute("name", "cycle-type-{{i.Smooth_Family}}");
                    day_input.setAttribute("value", "Days");
                    td3.appendChild(day_input);
                    tr1.appendChild(td3);
                    inputContainer.appendChild(tr1);
        
                    // inputContainer.appendChild(document.createElement("br"));
                {%endfor%}
            }else
            {
            //  to update  
             {%for i in cycle%}
                var id = {{i.workdata_id}};
                console.log(id);
                console.log('*******',event.id)
                if (event.id == id) {
                        //  tr
                        let tr = document.createElement('tr'); 
                        // td1
                        let td1 = document.createElement('td'); 
                        // create smooh_family input
                        smooth_input = document.createElement("input");
                        smooth_input.setAttribute("type", "text");
                        smooth_input.setAttribute("name", "smooth_family");
                        smooth_input.setAttribute("readonly", "");
                        smooth_input.setAttribute("value", "{{i.smooth_family}}"),
                        smooth_input.setAttribute("class", "form-control"),

                        // add a node to the end of the list
                        td1.appendChild(smooth_input);
                        tr.appendChild(td1);
                        
                        // td2
                        let td2 = document.createElement('td');
                        // create cycle_time input
                        cycle_input = document.createElement("input");
                        cycle_input.setAttribute("type", "number");
                        cycle_input.setAttribute("step", "0.01");
                        cycle_input.setAttribute("name", "cycle_time");
                        cycle_input.setAttribute("value", "{{i.cycle_time}}"),
                        cycle_input.setAttribute("class", "form-control"),
                        td2.appendChild(cycle_input); 
                        tr.appendChild(td2);
                        
                        // td3
                        let td3 = document.createElement('td'); 
                        // create label for hour 
                        hour_label = document.createElement("label");
                        hour_label.innerHTML = "Hours";
                        td3.appendChild(hour_label);
                        // create radio for hour
                        hour_input = document.createElement("input");
                        hour_input.setAttribute("type", "radio");
                        hour_input.setAttribute("id", "hour");
                        hour_input.setAttribute("name", "cycle-type-{{i.smooth_family}}");
                        hour_input.setAttribute("value", "Hours");
                        hour_input.setAttribute("checked", "checked");

                        td3.appendChild(hour_input);
                        // create label for day 
                        day_label = document.createElement("label");
                        day_label.innerHTML = "Days";
                        td3.appendChild(day_label);
                        // create radio for day
                        day_input = document.createElement("input");
                        day_input.setAttribute("type", "radio");
                        day_input.setAttribute("id", "day");
                        day_input.setAttribute("name", "cycle-type-{{i.smooth_family}}");
                        day_input.setAttribute("value", "Days");
                        td3.appendChild(day_input);
                        tr.appendChild(td3);
                        inputContainer.appendChild(tr);
                        // create cycle_id input
                        cycle_i = document.createElement("input");
                        cycle_i.setAttribute("type", "hidden");
                        cycle_i.setAttribute("name", "cycle_id");
                        cycle_i.setAttribute("value", "{{i.id}}"), 
                        inputContainer.appendChild(cycle_i);
                        
                } 
               {%endfor%}

            }       
    }
    
    function deleteEvent(event) {
        $('#delete-modal input[name="date_id"]').val(event ? event.id : '');
        $('#delete-modal input[name="date_type"]').val(event ? event.name : '');
        // $('#delete-modal input[name="cycle_id"]').val(event ? event.cycle_id : '');
        $('#delete-modal').modal();

        var inputContainer = document.getElementById("deleteCycle");
        //delete the content of the div attribute
        inputContainer.innerHTML='';
        {%for i in cycle%}
            var id = {{i.workdata_id }};
            if (event.id == id) {
                // create cycle_id input
                cycle_i = document.createElement("input");
                cycle_i.setAttribute("type", "hidden");
                cycle_i.setAttribute("name", "cycle_id");
                cycle_i.setAttribute("value", "{{i.id}}"), 
                deleteCycle.appendChild(cycle_i);
                deleteCycle.appendChild(document.createElement("br"));
            }
        {%endfor%}
    }
    
    function saveEvent() {
        var event = {
            id: $('#event-modal input[name="event-index"]').val(),
            name: $('#event-modal input[name="event-name"]').val(),
            startDate: $('#event-modal input[name="event-start-date"]').datepicker('getDate'),
            endDate: $('#event-modal input[name="event-end-date"]').datepicker('getDate'),
            extraHour: $('#event-modal input[name="extra-hours"]').val(),
            StartTime: $('#event-modal input[name="start-time"]').val(),
            EndTime: $('#event-modal input[name="end-time"]').val(),
            eTEhourByDay: $('#event-modal input[name="fte"]').val(),
            absenteeism_ratio: $('#event-modal input[name="Absenteeism-ratio"]').val(),
            unproductiveness_ratio: $('#event-modal input[name="Unproductiveness-ratio"]').val(),
            efficienty_ratio: $('#event-modal input[name="Efficienty-ratio"]').val(),
            Cycle_Time: $('#event-modal input[name="cycle_time"]').val(),
            cycle_id: $('#event-modal input[name="cycle_id"]').val(),
            // cycle: $('#event-modal input[name="cycle"]').val(),  
        }

        

        var dataSource = calendar.getDataSource();
    
        if (event.id) {
            for (var i in dataSource) {
                if (dataSource[i].id == event.id) {
                    dataSource[i].name = event.name;
                    dataSource[i].startDate = event.startDate;
                    dataSource[i].endDate = event.endDate;
                    dataSource[i].extraHour = event.extraHour;
                    dataSource[i].StartTime = event.StartTime;
                    dataSource[i].EndTime = event.EndTime;
                    dataSource[i].eTEhourByDay = event.eTEhourByDay;
                    dataSource[i].absenteeism_ratio = event.absenteeism_ratio;
                    dataSource[i].unproductiveness_ratio = event.unproductiveness_ratio;
                    dataSource[i].efficienty_ratio = event.efficienty_ratio;
                    dataSource[i].Cycle_Time = event.Cycle_Time;
                    dataSource[i].cycle_id = event.cycle_id;

                }
            }
        }
        else
        {
            var newId = 0;
            for(var i in dataSource) {
                if(dataSource[i].id > newId) {
                    newId = dataSource[i].id;
                }
            }
            
            newId++;
            event.id = newId;
        
            dataSource.push(event);
        }
        
        calendar.setDataSource(dataSource);
        $('#event-modal').modal('hide');
    }
    
    $(function() {
        var currentYear = new Date().getFullYear();
    
        calendar = new Calendar('.calendar', { 
            enableContextMenu: true,
            displayWeekNumber:true,
            enableRangeSelection: true,
            contextMenuItems:[
                {
                    text: 'Update',
                    click: editEvent
                },
                {
                    text: 'Delete',
                    click: deleteEvent
                }
            ],
            selectRange: function(e) {
                editEvent({ startDate: e.startDate, endDate: e.endDate });
            },
            mouseOnDay: function(e) {
                if(e.events.length > 0) {
                    var content = '';
                    
                    for(var i in e.events) {
                        content += '<div class="event-tooltip-content">'
                                        + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                         + '</div>'
                                    + '</div>';
                    }
                
                    $(e.element).popover({ 
                        trigger: 'manual',
                        container: 'body',
                        html:true,
                        content: content
                    });
                    
                    $(e.element).popover('show');
                }
            },
            mouseOutDay: function(e) {
                if(e.events.length > 0) {
                    $(e.element).popover('hide');
                }
            },
            dayContextMenu: function(e) {
                $(e.element).popover('hide');
            },

            
            dataSource: [
                {%for day in holidays %}
                {
                    id: {{day.id}} ,
                    name: "Day Off: {{day.name}}",
                    startDate: new Date('{{day.holidaysDate|date:'F d,Y'}}'),
                    endDate: new Date('{{day.holidaysDate|date:'F d,Y'}}'),
                    color:'#adb5bd' 
                    
                },
                {%endfor%}

                {%for day in workdata %}
                {
                    id: {{day.id}} ,
                    name: "Work Day",
                    startDate: new Date('{{day.date|date:'F d,Y'}}'),
                    endDate: new Date('{{day.date|date:'F d,Y'}}'),
                    extraHour: {{day.ExtraHour}},
                    eTEhourByDay: {{day.FTEhourByDay}},
                    absenteeism_ratio:{{day.Absenteeism_ratio}},
                    unproductiveness_ratio:{{day.Unproductiveness_ratio}},
                    efficienty_ratio:{{day.Efficienty_ratio}},
                    EndTime:"{{day.endTime|time:"H:i:s"}}",
                    StartTime:"{{day.startTime|time:"H:i:s"}}",
                    // get cycle informations from workdata
                    Cycle_Time:'[{% for cycle in day.cycle_set.all %}{{cycle.cycle_time}}, {% endfor %}]',
                    // cycle_id :'{% for cycle in day.cycle_set.all %}{{cycle.id}}, {% endfor %}',
                    color:'#0d6efd',     
                },
                {%endfor%}
                
                // {%for day in cycle_data %}
                // {
                //     // id: {{day.id}},
                //     cycle_id: {{day.id}},
                //     name: "Work Day",
                //     Cycle_time: {{day.cycle_time}},
                //     console.log(Cycle_time)  
                //     color:'#0d6efd',     
                // },
                // {%endfor%}
                
            ]
           
        });
        
        $('#save-event').click(function() {
            saveEvent();
        });
    });

    
</script>


{% endblock %} 
