{% extends 'base.html' %}
{% block content %} 
<!--message alert -->
{% if messages %}
{% for message in messages %}
{%include 'app/alerts/alert.html'%}
{% endfor %}
{% endif %}
<!--return back-->  
{% include "app/info/return_back.html" %}
<!-- info -->
{% include "app/info/info_page.html" %}

<!-- time line (process) -->                                      
{% include "app/info/timeline.html" %}

<div class="content" id="container">
    <div class="container-fluid">
        <form method="POST"  action="{% url 'kpi' division product planningapproval %}">
            <!-- Security token by Django -->
            {% csrf_token %}
            <div class="row"> 
                <div class="col-2 offset-3">
                    <div class="card custom-card">
                        <div class="card-header custom-card-header" style="background:linear-gradient(105deg, rgb(254 92 102) 0%, rgb(250 152 79) 100%) !important; color:white;">
                            <h3 class="card-title">
                           Materials
                            </h3>
                        </div>                           
                        <div class="card-body">
                            <div class="select2-primary" >
                                    <select name="material" size="1"id="material"class="select2 select2-hidden-accessible" multiple="" data-placeholder="* Multiple" data-dropdown-css-class="select2-primary"   style="width: 100%;">
                                    {%for item in material_smooth_family_list  %}
                                        <option value ="{{item.material}}" {% if item.material in material_selected  %} selected {% endif %}>{{item.material}}</option> 
                                    {%endfor%}
                                </select> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card custom-card">
                        <div class="card-header custom-card-header" style="background:linear-gradient(105deg, rgb(186 78 220) 0%, rgb(244 77 172) 100%) !important; color:white;">
                            <h3 class="card-title">
                                Smooth Family
                            </h3>
                        </div>                           
                        <div class="card-body">
                            <div class="select2-primary" >
                                <select name="smooth_family" id="smooth_family" size="1" class="select2 select2-hidden-accessible" multiple="" data-placeholder="* Multiple" data-dropdown-css-class="select2-primary" style="width: 100%;">
                                {%for item in list_smooth_family %}                           
                                    <option value ="{{item}}"{% if item in smooth_family_selected  %} selected {% endif %}>{{item}}</option>
                                {%endfor%}
                                </select> 
                            </div>
                        </div>
                    </div>
                </div>   

                <div class="col-2">
                    <div class="card custom-card">
                        <div class="card-header custom-card-header" style="background:linear-gradient(105deg, rgb(59 46 219) 0%,rgb(78 141 252) 100%) !important; color:white;">
                            <h3 class="card-title">
                                Versions
                            </h3>
                        </div>                           
                        <div class="card-body">
                            <select name="version_planning"  class="custom-select form-control-border" id="exampleSelectBorder" required>
                                <option>Select version</option>  
                                {% for item in planning_versions %}
                                <!--  convert item to string in the template, you can use -->
                                <option value="{{item}}" {% if version_selected == item|stringformat:"i" %}  selected {% endif %}>{{item}}</option>
                                {%empty%}
                                    <option value="">No versions</option>   
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
   
            </div>
            <br>
            <div class="row">
                <div class="col-4 offset-4">
                    <div class="input-group">
                        <span class="input-group-text">From</span>
                        <input name="from" id="from" type="date" class=" form-control" value="{{from_date}}" required>
                        <span class="input-group-text">To</span>
                        <input name="to" id="to" type="date" class=" form-control" value="{{to_date}}" required> 
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-default" style="color:#4285f4;border-radius: 0 8px 8px 0;background-color: white;border: 1px solid #ced4da"> 
                                <i class="fa-solid fa-magnifying-glass" style="color:#4285f4 ;"></i>
                                Go!
                            </button>
                        </div>
                      </div>          
                </div>
            </div>   
            <br>     
        </form>
        <form  method="POST" action="{% url 'newcycle' division product planningapproval version_selected %}">
            <!-- Security token by Django -->
            {% csrf_token %}
            <div class="col-10 offset-1">
                <div class="card custom-card">
                    <div class="card-header custom-card-header">
                        <h3 class="card-title custom-card-title">
                            Adjust Cycle Time
                        </h3>
                    </div>
                    <div class="card-body">
                        
                        <table class="table table-bordered text-nowrap table-sm">
                            <thead >
                                <tr>
                                    <th><label for="week_cycle" class="col-sm-4 control-label">Week</label></th>
                                    <th><label for="smooth_family" class="col-sm-4 control-label">Smooth Family</label></th>
                                    <th><label for="cycle_time" class="col-sm-4 control-label">Cycle time</label></th>
                                    <th><label for="cycle-time-type" class="col-sm-4 control-label">Type</label></th>
                                </tr>
                            </thead> 
                            <tbody>
                                    
                                {% for index,cycle in cycle_count.iterrows%}
                                <tr>
                                    <input name="from" id="from" type="hidden" class=" form-control" value="{{from_date}}" required>
                                    <input name="to" id="to" type="hidden" class=" form-control" value="{{to_date}}" required> 
                                    <input name="version_selected" id="version_selected" type="hidden" class=" form-control" value="{{version_selected}}" required> 

                                    
                                    <td><input id="week_cycle" name="week_cycle" type="text" class="form-control custom-input" value="{{cycle.work_year_week}}"readonly="readonly"></td> 
                                    <td><input id="smooth_family" name="smooth_family" type="text" class="form-control custom-input"  value="{{cycle.smooth_family}}" readonly="readonly"></td> 
                                    <td class="form-row">
                                        <input style="width: 100px;" id="cycle_time" name="cycle_time" type="number" value="{{cycle.0}}" class="form-control" required="" step="0.01"> 
                                    </td>
                                    <td>
                                        <div class="inline-radio-input col-sm-8">
                                            <input style="margin:10px ;" type="radio" id="hour" name="cycle-type-{{cycle.work_year_week}}" value="Hours" checked>
                                            <label style="margin:10px ;" for="hour">Hours</label>
                                            <input style="margin:10px ;" type="radio" id="day" name="cycle-type-{{cycle.work_year_week}}" value="Days">
                                            <label style="margin:10px ;" for="day">Days</label><br>
                                        </div> 
                                    </td>
                                </tr>
                                {%endfor%} 
                            </tbody>
                        <!-- <button type="submit" class="btn btn-primary" id="save-work" name ='save-work'>Save</button> -->
                        </table> 
                        <br>
                        <button type="submit" style="float: right;" class="btn btn-primary">Save</button>

                    </div>  
                    <!-- <div class="card-footer">
                        <button type="submit" style="float: right;" class="btn btn-primary">Save</button>
                    </div>    -->
                </div>
            </div>    
        </form>
      
        <!-- Switch Month Week button  -->
        <button onclick="myFunction()" id="switch_month_week"  class= "switch_week_month">
            <i  class="fa-solid fa-repeat"></i>
            <b id="text_switch">M</b>
        </button>
    </div>
</div>
<br>
<hr>


<!-- <div class="col-12">
    <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fa-regular fa-compass"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Demand vs. Production</span>
       </div>
    </div>
</div> -->


<div  class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
              <h3 class="card-title custom-card-title">
                <i class="far fa-chart-bar"></i>
                    Demand | Production
                </h3>
                <div class="card-tools"> 
                    <ul class="list-group list-group-horizontal" style="height: 35px;">
                        <li class="list-group-item" style="padding:4px;"><i type="button" data-toggle="modal" data-target="#test_stocked " class="info fas fa-info-circle" style="margin-bottom:7px;"></i></li>
                        <li class="list-group-item" style="padding:3px;"><button type="button" class="btn btn-tool" data-card-widget="collapse" style="padding:3px;padding-top: 0px;">
                            <i class="fas fa-minus"></i></button></li>
                        <li class="list-group-item" style="padding:8px;"><button type="bpxutton" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;margin-bottom: 0px;"><i class="fas fa-expand"></i></button></li>
                    </ul>  
                </div> 
                </div>
                <div id="demand_prod_planning_week" style="display:block ;">
                    {% include 'app/charts/demand_prod_planning_week.html' %}
                </div>
                <div id="demand_prod_planning_month" style="display:none ;">
                    {% include 'app/charts/demand_prod_planning_month.html' %}
                </div>
        </div> 
    </div>
</div> 


    
<!--Program demand  -->
<div class="modal" id="test_stocked">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">						
                <h4 class="modal-title">Informations</h4>
            </div>
            <div class="modal-body">	

            </div>
            <div class="modal-footer">
                <input type="button" href="" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                <!-- <a href="" id='targetlink' class="btn btn-danger" value="Delete">Delete</a>   -->
            </div>
        </div>
    </div>
</div>

<!--Cycle time -->
<div  class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
              <h3 class="card-title custom-card-title">
                <i class="far fa-chart-bar"></i>
                    Cycle Time
                </h3>
                <div class="card-tools"> 
                    <ul class="list-group list-group-horizontal" style="height: 35px;">
                        <li class="list-group-item" style="padding:4px;"><i type="button" data-toggle="modal" data-target="#test_stocked " class="info fas fa-info-circle" style="margin-bottom:7px;"></i></li>
                        <li class="list-group-item" style="padding:3px;"><button type="button" class="btn btn-tool" data-card-widget="collapse" style="padding:3px;padding-top:0px;">
                            <i class="fas fa-minus"></i></button></li>
                        <li class="list-group-item" style="padding:8px;"><button type="bpxutton" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;margin-bottom: 0px;"><i class="fas fa-expand"></i></button></li> 
                    </ul>  
                </div> 
                </div>
                <div id="cycle_kpi_week" style="display:block ;" >
                    {% include 'app/charts/week_cycle_count.html' %}
                </div>
                <div id="cycle_kpi_month" style="display:none ;" >
                    {% include 'app/charts/month_cycle_count.html' %}
                </div>
        </div> 
    </div>
</div> 

<!-- Production plan-->
<div  class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
              <h3 class="card-title custom-card-title">
                <i class="far fa-chart-bar"></i>
                   Production Plan
                </h3>
                <div class="card-tools"> 
                    <ul class="list-group list-group-horizontal" style="height: 35px;">
                        <li class="list-group-item" style="padding:4px;"><i type="button" data-toggle="modal" data-target="#test_stocked " class="info fas fa-info-circle" style="margin-bottom:7px;"></i></li>
                        <li class="list-group-item" style="padding:3px;"><button type="button" class="btn btn-tool" data-card-widget="collapse" style="padding:3px;padding-top: 0px;">
                            <i class="fas fa-minus"></i></button></li>
                        <li class="list-group-item" style="padding:8px;"><button type="bpxutton" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;margin-bottom: 0px;"><i class="fas fa-expand"></i></button></li> 
                    </ul>  
                </div> 
                </div>
                <div id="production_plan_week" style="display:block ;" >
                    {% include 'app/charts/week_production_plan.html' %}
                </div>
                <div id="production_plan_month" style="display:none ;" >
                    {% include 'app/charts/month_production_plan.html' %}
                </div> 
        </div> 
    </div>
</div> 



<!--Share result-->
<form action="{% url 'kpi' division product planningapproval %}" method="post">
        <!-- Security token by Django -->
        {% csrf_token %}
        <input type="hidden" value="{{version_selected}}" name="version">
        <input name="from" id="from" type="hidden" class=" form-control" value="{{from_date}}" required>
        <input name="to" id="to" type="hidden" class=" form-control" value="{{to_date}}" required> 
        <center>
            <button  naame="shareshare" type="submit" class="bn632-hover-upload bn20"><i class="fa-solid fa-arrow-up-right-from-square"></i> Share</button>
        </center>
  </form>




<script>
    function myFunction() {
        var text_switch =document.getElementById("text_switch");
        var week_demand = document.getElementById("demand_prod_planning_week");
        var week_cycle = document.getElementById("cycle_kpi_week");
        var week_production = document.getElementById("production_plan_week");

        var month_demand = document.getElementById("demand_prod_planning_month");
        var month_cycle = document.getElementById("cycle_kpi_month");
        var month_production = document.getElementById("production_plan_month");
        var btn = document.getElementById("switch_month_week");
        
      if (week_demand.style.display === "block" & week_cycle.style.display === "block" & week_production.style.display === "block" ) {
        week_demand.style.display = "none";
        week_cycle.style.display = "none";
        week_production.style.display = "none";

        month_demand.style.display = "block";
        month_cycle.style.display = "block";
        month_production.style.display = "block";
        text_switch.textContent='W';
      }  
      else {
        week_demand.style.display = "block";
        week_cycle.style.display = "block";
        week_production.style.display = "block";

        month_demand.style.display = "none";
        month_cycle.style.display = "none";
        month_production.style.display = "none";
        text_switch.textContent='M';
      }
    }
</script>

    <!--JS for select multiple-->
<script>
    $(document).ready(function() {
        $('#material').select2();
        $('#smooth_family').select2();
    });
</script> 



   


{% endblock content%}